.heading{
  text-align: center;
  padding-top:80px;
  font-size:23px;
  font-family: Georgia;
  text-decoration:none;
  color:#cb6ca6;
}
.right{
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    border-radius: 16px;
    color:azure;
    background-color:#cb6ca6;
    border: 1.5px solid #cb6ca6;
    box-shadow: rgb(0 0 0 / 20%) 5px 5px 40px;
    box-shadow: 0 22.3363px 17.869px rgb(0 0 0 / 4%), 0 12.5216px 10.0172px rgb(0 0 0 / 4%), 0 6.6501px 5.32008px rgb(0 0 0 / 3%), 0 2.76726px 2.21381px rgb(0 0 0 / 2%);
    width: 100%;
    min-width: 270px;
    max-width: 470px;
    scroll-snap-align: end;
    float:left;
    position: fixed;
    top: 50%;
    left: 56%;
    margin-top: -100px;
    margin-left: -100px;
    text-align:center;

}
.left{
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    border-radius: 16px;
    color: azure;
    background-color: #5e226a;
    border: 1.5px solid #5e226a;
    box-shadow: rgb(0 0 0 / 20%) 5px 5px 40px;
    box-shadow: -3 22.3363px 17.869px rgb(0 0 0 / 4%), 0 12.5216px 10.0172px rgb(0 0 0 / 4%), 0 6.6501px 5.32008px rgb(0 0 0 / 3%), 0 2.76726px 2.21381px rgb(0 0 0 / 2%);
    width: 100%;
    min-width: 270px;
    max-width: 470px;
    scroll-snap-align: end;
    float:right;
    position: fixed;
    top: 50%;
    left: 30%;
    margin-top: -100px;
    margin-left: -100px;
    text-align:center;
}
@media screen and (max-width: 1280px) {
  .right {
    left: 60%;
  }
  .left {
    left: 20%;
  }
}
